$primary: #27614e
$secondary: #59655d
$accent: #27614e
$dark: #202923
$positive: #27614e
$negative: #aa3438
$info: #375f7b
$warning: #805b18
$typography-font-family: 'IBM Plex Sans', system-ui, sans-serif
$button-border-radius: 8px
$generic-border-radius: 8px
